# https://docs.aws.amazon.com/eks/latest/userguide/network-load-balancing.html
controller:
  config:
    # 타임아웃 값을 정수로 설정 (초 단위)
    proxy-connect-timeout: 60
    proxy-read-timeout: 3600
    proxy-send-timeout: 3600
    proxy-next-upstream-timeout: 600
    use-forwarded-headers: "true"
    proxy-real-ip-cidr: "{{ vpc_cidr }}"
  
  service:
    enabled: true
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "external"
      service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
      service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "{{ acm_arn }}"
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    type: LoadBalancer

    # 필요한 포트 설정
    ports:
      http: 80
      https: 443

    targetPorts:
      http: http
      https: https
